<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Candal|Suez+One&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet"> 
    </head>
  
    <body>
        <header class = "img-container">
            <section class = "logout"> 
                <ul>
                    <li id = "lo">
                    {% if username == None or username == '' %}
                        <a class = "btn" id = "lo" href="login#">SIGN IN</a>
                    {% else %}
                        <a class = "btn" id = "lo" href="login#">SIGN OUT
                            <h6>{{username}}</h6>
                        </a>
                    {% endif %}
                    </li>
                </ul> 
            </section> 
            <section class = "inner-container">
                <h1>ROAM</h1>
                <h2>RESTAURANT RECOMMENDER</h2>
                <a class = "btn" href={%block whereto%}{%endblock%}>{%block initbutton%}{%endblock%}</a>
            </section>
        </header> 

        {%if best_city%}
            <section class = "category"><h3>TOP RESTAURANTS IN YOUR CITY:</h3></section>
            <section class = "items">
                {%block toprated%}{%endblock%}
            </section>
            <section class = "category"><h5>YOUR PAST SEARCHES:</h5></section>
            <section class = "items">
                {%block recentrated%}{%endblock%}
            </section>
        {%endif%}
        
        {%if looking%}
            
            <section class = "category">
                <br/>
            </section>
            <section class = "fields">
                <form action="{{ url_for('search') }}" method="post">
                        <dl>
                            <ul id = input>
                            {%block params%}{%endblock%}
                            </ul>  
                        </dl>
                        
                </form>    
            </section>
        {%endif%}
    </body>
</html>