

*{
    margin: 0;
    height: 100%;
}

body {
    width:auto;
    background-color:ivory
}

dl{
    background-color: transparent;
    margin:0;
    width:100%;
}

form {
    background-color:transparent;
    width: auto;
}

header {
    background-position-y: 750px;
    background-image: url(../img/asia.png);
    background-size: cover;
    height: 45%;
    min-height: 180px;
    width:100%;
    min-width: 600px;
    margin: 0;
    position: relative;
}


.inner-container {
    text-align: center;
    position: relative;
    width: 100%;
    color: ivory;
    height: auto;
    margin:auto;
}

section {
    position: relative;
    padding: 0;
    width: auto;
    background-color:transparent;
    text-align: center;
}

/*search: input fields*/
.fields{
    height:60%;
    width:auto;  
    background-color:transparent;
    text-align: center middle;
    padding: center center;
    margin:0;
}

ul[id = input] {
    background-color:transparent;
    display: flex;
    flex-direction: column;
    width:auto;
    min-width: 400px;
    max-width: 2000px;
    height: 100%;
    margin: 0;
}

li[id = field] {
    height: 15%;
    width: 80%;
    background-color:transparent;
    margin: 2% auto;
    text-align: center;
}

dt {
    color: coral;
    font-family: 'Raleway', 'serif';
    font-size: 1.7em;
    font-weight: 150;
    height: 10%;
    padding: 0;
    margin-bottom: 2px;   
}

dd{
    background-color: transparent;
    height: 50px;
    width: auto;
    min-width: 100px;
    padding: 0 20;
    margin: 2%;  
    display: inline-block;
}

input {
    font-size: large;
    border: none;
    border-bottom: 3px coral solid;
    background: none;
    outline: none;
    color: coral;
}

input[type="text"]:focus, input[type="password"]:focus {
    width:90%;
    transition: 0.2s;
    
    border-bottom: 4px lightgrey solid;
}

input[type = submit] {
    margin: 2% middle;
    height: 100px;
    background-color:coral;
    text-align: center;
    
}

.logout {
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
    height:15%;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row-reverse;
}



/*home-ratings*/
.category {
    position: relative;
    height:5%;
    min-height: 30px;
    min-width: 500px;
    width: 100%;
    text-align: center middle;
    color: coral;
    background-color: transparent;
    margin-top: 5%;
}

.items {
    position: relative;
    background-color:transparent;
    height: 25%;
    width: auto;
    min-width: 600px;
    margin-bottom: 10%;
}

ul {
    background-color: transparent;
    height: 100%;
    width: auto;
    min-width: 500px;
    
    display: flex;
    flex-direction: row-reverse;
    /*flex-wrap: wrap;*/
}

li {
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 90%;
    margin: 20px;
    display: inline-block;
}

.thumbnail {
    height: auto;
    padding:10px;
    background-color: transparent;
    margin: auto;
    min-height:100px;
    min-width: 100px;
    transition: 1s;
}

.thumbnail:hover p{
   font-size: 1.2em;
   transition: 1s;
}

.thumbnail:hover h6{
    color: coral;
}

img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width:100px;
}

div {
    height: auto;
    width: auto;
    min-width: 100px;
    text-align: center;
    background-color: transparent;
  
}

p {
    color:black;
    margin: 2% 1%;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Raleway', 'serif';
}

p[id = err] {
    color: red;
    font-weight: bold;
    margin: 2%;
}

h1 {
    font-size: 7em;
    font-family: 'Suez One', serif;
    font-weight: 500;
}

h2 {
    margin-top: -12px;
    font-family: 'Suez One', serif;
    font-size: 1.7em;
    text-align: center;
    font-weight: 500;
}

h3 {
    background-color: transparent;
    margin-top: 10px;
    font-family: 'Raleway', 'serif';

    font-size: 1.7em;
    text-align: center;
    font-weight: 500;
    min-height: 30px;
    min-width: 400px;
    position: relative;
}

h4 {
    background-color: transparent;
    margin-top: 10px;
    font-family: 'Raleway', 'serif';

    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    min-height: 30px;
    min-width: 400px;
}

h5 {
    background-color: transparent;
    margin-top: 10px;
    font-family: 'Raleway', 'serif';

    font-size: 1.7em;
    text-align: center;
    font-weight: 500;
    min-height: 30px;
    min-width: 400px;
    position: relative;
}

h6 {
    font-family: 'Raleway', 'serif';
    text-align: center;
    font-size: 1em;
    color: white;
    font-weight: bolder;
    margin: 0;
    padding:0;
}


li[id = star] {
    margin: 1%;
    height:auto;
    width:auto;
    background-color:transparent;
    background-image: url(../img/star.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

ul[id = starboard] {
    margin-top: 0;
    height: 10%;
    width: auto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 2%;
    background-color: grey;
}


/*logout button*/
a[id = "lo"] {
    height: auto;
    margin: auto;
    padding: none;
    text-align: center middle;
    outline: none;
    background-color: transparent;
    border:none;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Raleway', 'serif';
    color:white;
}

li[id = "lo"] {
    color: ivory;
    padding:0;
    margin:0;
    height:12%;
    background-image: none;
    background-color:transparent;
    text-align: center;
    position: absolute;
    border:none;
}

/*main button*/
.btn {
    margin-top: 50px;
    display: inline-block;
    width: 200px;
    padding: 10px;
    text-align: center;
    
    font-family: 'Raleway', 'serif';
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 4px solid white;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover, .btn:active{
    background-color: white;
    color:grey;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

@media only screen and (max-width: 500px) {
    header {
        height: 180px;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 1em;
    }
    h5 {
        margin-top: 5px;
        font-size: 1em;
    }
    h6 {
        font-size: 1em;
    }
    li {
        margin: auto;
    }
    img {
        height:70px;
        width: 70px;
    }
    .thumbnail{
        width: 150px;
        height: 150px;
    }
    .items{
        margin-bottom: 20%;
    }
    p {
        font-size: 1em;
    }
    .btn {
        margin-top: 2%;
        font-size: small;
    }
    a[id=lo] {
        text-align: end;
        width: 50px;
        height: 20px;
        font-size: xx-small;
    }

    /*search specific adjustments*/
    h4 {
        display: none;
    }
    dt {
        position: relative;
        font-size: small;
    }
    dd {
        position: relative;
        width: 100px;
    }
    form {
        width: 400px;
    }
    input{
        background-color: transparent;
        margin: middle center;
        width: 100px;
    }

    input[type = submit] {
        height: 50px;
        width: 100px;
        margin: 10px middle;
    }
}

@media only screen and (max-width: 700px) {
    .items {
        margin-bottom: 15%;
    }
}

@media only screen and (max-height: 700px) {
    header {
        height: 100px;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1em;
    }
    .category {
        margin-top: 5px;
    }
    h3 {
        margin-top: 5px;
        font-size: 1em;
    }
    h4 {
        display: none;
    }
    h5 {
        margin-top: 5px;
        font-size: 1em;
    }
    li {
        margin: 1%;
    }
    .thumbnail{
        width: 200px;
        height: 150px;
    }
    p {
        font-size: 1em;
    }
    .btn {
        margin-top: 2%;
        font-size: small;
    }
    a[id=lo] {
        text-align: end;
        width: 50px;
        height: 20px;
        font-size: xx-small;
    }

       /*search specific adjustments*/
    h4 {
        font-size: 1em;    
    }
    dt {
        position: relative;
        font-size: small;
    }
    dd {
        position: relative;
        width: 100px;
        margin-left: 20px;
    }
    form {
        width: 400px;
    }
    input{
        background-color: transparent;
        margin: auto;
        width: 100px;
    }

    input[type = submit] {
        height: 50px;
        width: 100px;
        margin: 5%;
    }
    ul[id = input] {
        flex-direction: column;
        min-height: 400px;
    }
}

@media only screen and (max-height: 600px) {
    h5 {
        display: none;
    }
}
